* {
	margin: 0;
	padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
	background-color: #161616;
}

select:-moz-focusring { 
	color: transparent;
  text-shadow: 0 0 0 #fff;
}

.app-wrapper {
	text-align: center;
	color: #fff;
}

.header {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #0f0f0f;
}

.header h3 {
	padding-bottom: 4px;
}

.header p {
	font-size: 0.8em;
}

.last-updated {
	padding: 16px 0px;
	font-size: 0.8em;
	color: #ccc;
}

.artist-wrapper h4 {
	padding-top: 32px;
	font-size: 2em;
}

@media screen and (min-width: 600px) {
	.picker-wrapper {
		width: 50vw;
	}	
}